* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #f8f9fa;
}

.contenedor {
    max-width: 800px; /* Ajusta el ancho máximo según tus necesidades */
    margin: 0 auto;
    background-color: #ffffff;
    border: 1px solid #000000;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    text-align: justify;
}

.titulo {
    color: #000000;
    font-size: 24px;
    text-align: center;
    margin-bottom: 20px;
}

.buttons a {
    color: #ffffff;
    padding: 8px 12px;
    border-radius: 4px;
    text-decoration: none;
}

/* Header */
header {
    width: 100%;    
    height: 600px;
    background: #A3E4D7; /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #F5F5DC, #A3E4D7); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #F5F5DC, #A3E4D7); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-size: cover;
    background-attachment: fixed;
    position: relative;
}

nav {
    text-align: right;
    padding: 30px 50px 0 0;
}

nav > a {
    color: #000000;
    font-weight: 300;
    text-decoration: none;
    margin-right: 10px;
}

nav > a:hover {
    text-decoration: underline;
}

header .textos-header {
    display: flex;
    height: 430px;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.textos-header h1 {
    font-size: 50px;
    color: #000000;
}

.textos-header h2 {
    font-size: 30px;
    font-weight: 300;
    color: #000000;
}

.wave {
    position: absolute;
    bottom: 0;
    width: 100%;
}

/* About us */
.contenedor-sobre-nosotros {
    display: flex;
    justify-content: space-evenly;
}

.imagen-about-us {
    width: 48%;
}

.sobre-nosotros .contenido-textos {
    width: 48%;
}

.contenido-textos h3 {
    margin-bottom: 15px;
}

.contenido-textos h3 span {
    background: #F5F5DC;
    color: #000000;
    border-radius: 50%;
    display: inline-block;
    text-align: center;
    width: 35px;
    height: 30px;
    padding: 2px;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, .5);
    margin-right: 5px;
}

.contenido-textos p {
    padding: 0px 0px 30px 15px;
    font-weight: 300;
    text-align: justify;
}

/* Galeria */
.portafolio {
    background: #dae09f;
}

.galeria-port {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.imagen-port {
    width: 20%;
    margin-bottom: 10px;
    height: 300px;
    overflow: hidden;
    position: relative;
    cursor: pointer;
    box-shadow: 0 0 6px 0 rgb(0, 0, 0, .5);
}

.imagen-port > img {
    width: 100%;
    height: 150%;
    object-fit: cover;
    display: block;
}

.hover-galeria {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    background: rgba(128, 149, 130, 0.7);
    /* Nuevo color aplicado */
    transition: transform 0.5s;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    opacity: 0;
    transform: translateY(100%);
}

.imagen-port:hover .hover-galeria {
    opacity: 1;
    transform: translateY(0);
}

.hover-galeria img {
    color: #dae09f;
}

.imagen-port:hover .hover-galeria {
    transform: scale(1);
}

/* Our team */
.about-services {
    background: #ffffffdc;
    /* Fondo blanco para Nuestras Metas */
    padding-bottom: 30px;
}

.servicio-cont {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgb(255, 255, 255);
    /* Fondo crema para la sección principal */
    padding: 30px;
    /* Añadido para separar la sección principal del borde de la página */
    border-radius: 10px;
    /* Añadido para suavizar las esquinas de la sección principal */
    margin-top: 30px;
    /* Añadido para separar la sección principal del resto del contenido */
}

.servicio-ind {
    width: 28%;
    text-align: center;
}

.servicio-ind img {
    width: 90%;
}

.servicio-ind h3 {
    margin: 10px 0;
}

.servicio-ind p {
    font-weight: 300;
    text-align: justify;
}

/* Footer */
footer {
    background: #414141;
    padding: 60px 0 30px 0;
    margin: auto;
    overflow: hidden;
}

.contenedor-footer {
    display: flex;
    width: 90%;
    justify-content: space-evenly;
    margin: auto;
    padding-bottom: 50px;
    border-bottom: 1px solid #ccc;
}

.content-foo {
    text-align: center;
}

.content-foo h4 {
    color: #fff;
    border-bottom: 3px solid #005AA7;
    padding-bottom: 5px;
    margin-bottom: 10px;
}

.content-foo p {
    color: #ccc;
}

.titulo-final {
    text-align: center;
    font-size: 24px;
    margin: 20px 0 0 0;
    color: #000000;
}
    